
<div id="header" class="bg1">
  <div id="topnav">
    <ul>
      <li><a href="http://karpathy.github.io/">blog</a></li>
    </ul>
  </div>
  <div id="headerblob">
    <img src="/img/me2.jpg" class="img-circle imgme">
    <div id="headertext">
      <div id="htname">George Wildridge</div>
      <div id="htdesc">Choate Rosemary Hall</div>
      <div id="htem">gwildridge17 _at_ choate.edu</div>
      <div id="icons">
        <div class="svgico">
          <a href="https://twitter.com/karpathy"><img src="/img/03-twitter.svg"></a>
        </div>
        <div class="svgico">
          <a href="https://karpathy.github.io/"><img src="/img/20-rss.svg"></a>
        </div>
        <div class="svgico">
          <a href="https://github.com/karpathy"><img src="/img/octocat.svg" width="56px"></a>
        </div>
      </div>
    </div>
  </div>
</div>
