<div id="header" class="bg1">
  <div id="topnav">
    <ul>
      <li><a href="{{ site.data.user.blog }}">Blog</a></li>
    </ul>
  </div>
  <div id="headerblob">
    <img src="/img/{{ site.data.user.img-name }}" class="img-circle imgme">
    <div id="headertext">
      <div id="htname">{{ site.data.user.name }}</div>
      <div id="htdesc">{{ site.data.user.title }}</div>
      <div id="htem">{{ site.data.user.email }}</div>
      <div id="icons">
        <div class="svgico">
          <a href="https://twitter.com/{{ site.data.user.twitter }}"><img src="/img/03-twitter.svg"></a>
        </div>
        <div class="svgico">
          <a href="{{ site.data.user.blog }}"><img src="/img/20-rss.svg"></a>
        </div>
        <div class="svgico">
          <a href="https://github.com/{{ site.data.user.github }}"><img src="/img/octocat.svg" width="56px"></a>
        </div>
      </div>
    </div>
  </div>
</div>
