
<div class="container">

  <h2>Misc</h2>
  <div class="row">
    <div class="col-md-6">

      <div class="miscitem">
        <div class="miscimg">
          <img src="/img/feed.png" class="img-circle">
        </div>
        <div class="miscd">
          My (mostly) <a href="http://karpathy.github.io/">Academic Blog</a>. I wish all researchers had one.
        </div>
      </div>

      <div class="miscitem">
        <div class="miscimg">
          <img src="/img/circuit.png" class="img-circle">
        </div>
        <div class="miscd">
          <a href="http://karpathy.github.io/neuralnets/">Hacker's Guide to Neural Networks</a> is my attempt at explaining Neural Nets from "Hacker's perspective", relying more on code and physical intuitions than mathematics. I wrote this because I felt there were many people (e.g. some software engineers) who were interested in Deep Nets but who lacked the mathematical background to learn the basics through the usual channels.
        </div>
      </div>

      <div class="miscitem">
        <div class="miscimg">
          <div class="colorrect img-circle"></div>
        </div>
        <div class="miscd">
          I helped create the Programming Assignments for Andrew Ng's <a href="http://www.ml-class.org/">CS229A (Machine Learning Online Class)</a> - this was the precursor to Coursera. At UBC I also TA'd <a href="http://www.cs.ubc.ca/~nando/540-2011/index.php">CPSC540</a> (Graduate Probabilistic Machine Learning) and three times UBC's <a href="http://www.ugrad.cs.ubc.ca/~cs121/current/Homepage/">CPSC 121</a> (Discrete Mathematics), where I taught at tutorials.
        </div>
      </div>

      <div class="miscitem">
        <div class="miscimg">
          <div class="colorrect img-circle"></div>
        </div>
        <div class="miscd">
          I like to go through classes on Coursera and Udacity. I usually look for courses that are taught by very good instructor on topics I know relatively little about. Last year I decided to also finish Genetics and Evolution (<a href="http://cs.stanford.edu/people/karpathy/geneticsacc.jpg">statement of accomplishmnet</a>) and Epigenetics (<a href="http://cs.stanford.edu/people/karpathy/epigenetics_cert.jpg">statement</a>, + <a href="http://cs.stanford.edu/people/karpathy/EpigeneticsCourseranotes.pdf">my rough notes</a>).
        </div>
      </div>


    </div>
    <div class="col-md-6">

      <div class="miscitem">
        <div class="miscimg">
          <img src="/img/twitterblue.svg" class="img-circle">
        </div>
        <div class="miscd">
          Find me on <a href="http://twitter.com/#!/karpathy">Twitter</a>, <a href="https://github.com/karpathy">Github</a>, <a href="https://plus.google.com/100209651993563042175">Google+</a>, <a href="http://www.goodreads.com/user/show/13472185-andrej-karpathy">Goodreads</a>.
        </div>
      </div>

      <div class="miscitem">
        <div class="miscimg">
          <img src="/img/cubevid.jpg" class="img-circle">
        </div>
        <div class="miscd">
          A long time ago I was really into Rubik's Cubes. I learned to solve them in about 17 seconds and then, frustrated by lack of learning resources, created <a href="https://www.youtube.com/user/badmephisto/featured">YouTube videos</a> explaining the Speedcubing methods. These went on to become quite popular. There's also my cubing page <a href="http://badmephisto.com/">badmephisto.com</a>. Oh, and a video of me at a <a href="http://www.facebook.com/photo.php?v=715094857292&amp;set=vb.28120513&amp;type=2&amp;theater">Rubik's cube competition</a> :)
        </div>
      </div>

      <div class="miscitem">
        <div class="miscimg">
          <div class="colorrect img-circle"></div>
        </div>
        <div class="miscd">
          <a href="http://cs.stanford.edu/people/karpathy/advice.html">Advice</a> for doing well in undergrad classes, for younglings.
        </div>
      </div>

      <div class="miscitem">
        <div class="miscd">
          <b>In media:</b><br>
					<div>
					- NVIDIA donating a DGX-1 to OpenAI. <a href="https://blogs.nvidia.com/blog/2016/08/15/first-ai-supercomputer-openai-elon-musk-deep-learning/">Official post</a>, and <a href="http://www.tomshardware.com/news/openai-nvidia-dgx-1-ai-supercomputer,32476.html">one more</a>.
					</div>
          <div>
          - The New York Times article on using deep networks for <a href="http://www.nytimes.com/2014/11/18/science/researchers-announce-breakthrough-in-content-recognition-software.html?_r=0">automatically captioning images with sentences</a>.
          </div>
					<div>
					- <a href="https://www.technologyreview.com/s/600997/hot-commodity/">MIT Technology Review profile</a>
					</div>

          <div>
          - <a href="http://www.economist.com/news/briefing/21650526-artificial-intelligence-scares-peopleexcessively-so-rise-machines">The Economist: Rise of the machines</a>
          </div>

          <div>
          - Wired article on my efforts to evaluate <a href="http://www.wired.com/2015/01/karpathy/">human accuracy on ImageNet</a>
          </div>
          <div>
          - Article on char-rnn: <a href="http://www.engadget.com/2015/12/02/neural-network-journalism-philip-k-dick/">I taught a computer to write like Engadget</a>.
          </div>
          <div>
          - The Verge articles on NeuralTalk, first <a href="http://www.theverge.com/2015/7/17/8985699/stanford-neural-networks-image-recognition-google-study">here</a> and then <a href="http://www.theverge.com/2015/11/25/9798448/neural-network-describe-live-video-neuraltalk">here</a>. Several inaccuracies, but by now quite used to it.
          </div>
					<div>
					- <a href="https://www.quora.com/session/Andrej-Karpathy/1">Quora Session on Sept 8, 2016</a>

        </div>
      </div>

    </div>
  </div>

  <div id="misc">
    <div>Still more unsorted misc</div>
    <div class="umisc">- <a href="http://cs.stanford.edu/people/karpathy/cnnembed/">t-SNE visualization of CNN codes for ImageNet images</a></div>
    <div class="umisc">- an efficient, <a href="https://gist.github.com/karpathy/587454dc0146a6ae21fc">batched Python/numpy implementation</a> of an LSTM forward and backward pass.
    </div>
    <div class="umisc">- a <a href="https://gist.github.com/karpathy/d4dee566867f8291f086"> Minimal character-level Recurrent Neural Network language model</a>, writted in Python/numpy. About 100 lines suffice! :)
    </div>
		<div class="umisc">- <a href="http://lossfunctions.tumblr.com/">Loss Functions Tumblr</a></div>
    <div class="umisc">- <a href="http://cs.stanford.edu/people/karpathy/gan/">Generative Adversarial Nets Javascript demo</a></div>

  </div>

  <!--
  <div class="row">
    <div class="col-md-4">
      <div class="pp">
        <img src="img/cubevid.jpg" class="img-circle imgb">
        <div class="ppt">Rubik's Cube Tutorials</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="pp">
        <img src="img/octocat.svg" class="img-circle imgb">
        <div class="ppt">Github</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="pp">
        <img src="img/feed.png" class="imgb">
        <div class="ppt">Academic Blog</div>
      </div>
    </div>
  </div>
  -->
  </div>
</div>
