<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head-home.html %}

  <body onload="start()" data-gr-c-s-loaded="true">

    {% include header-home.html %}
    {% include timeline.html %}
    {% include bio.html %}  
    <hr class="soft">

    {% include talks.html %}
    <hr class="soft">

    {% include papers.html %}
    <hr class="soft">

    {% include teaching.html %}
    <hr class="soft">

    {% include college-coursework.html %}
    <hr class="soft">

    {% include clubs.html %}
    <hr class="soft">

    
    {{ content }}


    {% include footer-home.html %}
    {% include scripts.html %}

  </body>

</html>
